#=====================================================================             
# CONFIGURACIÓN DE BASE DE DATOS (PostgreSQL 16 + pgvector)               
#=====================================================================
POSTGRES_DB=agro_db
POSTGRES_USER=admin

POSTGRES_PASSWORD=admin123
POSTGRES_PORT=5433

#=====================================================================             
# CONFIGURACIÓN DEL BACKEND (Spring Boot 3.3 / Java 21)                      
#=====================================================================  
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev

# Clave secreta para JWT (HMAC-SHA256,   mínimo 256 bits en hexadecimal o Base64) 
JWT_SECRET=f8a976c806952ca540245f93d951f52dff45886380c0be5cbf5611b7c9e8e838
JWT_EXPIRATION_MS=86400000

# URL de conexión JDBC (la usará Docker Compose para enlazar con Postgres)
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5433/agro_db

#=====================================================================             
# CONFIGURACIÓN DEL FRONTEND (React + Vite + TypeScript)                       
#===================================================================== 
VITE_API_BASE_URL=http://localhost:8080/api/v1
FRONTEND_PORT=3000

#=====================================================================             
# CONFIGURACIÓN PARA FASE 3 (Inteligencia Artificial / Spring AI)    
#=====================================================================             
# Clave de API para el modelo de lenguaje (se usará en la Fase 3)  
AI_API_KEY=api_key_aqui

